<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--根节点-->
<configuration>

    <!--配置mybatis核心配置文件-->
    <!--1.配置参数设置-->
    <settings>
        <!--mybatis自带的日志,查看mybatis执行sql语句全过程-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--开启二级缓存,默认开启的,是为了提高效率,查询相同的数据从缓存获取-->
        <setting name="cacheEnabled" value="true" />
        <!--开启延迟加载, 什么时候,什么时候查-->
        <setting name="lazyLoadingEnabled" value="false" />
        <!--
            通常是为了和延迟加载功能结合使用
            如果设置true: 如果对象调用了 里面所有属性全部加载
            如果设置false: 如果对象调用了 每种属性按需加载
        -->
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>

    <!--3.分页插件 可选的-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!--方言-->
            <property name="dialect" value="mysql"/>
            <!--默认值false,设置成true,将rowsBounds中的offset,当成PageNum使用-->
            <property name="offsetAsPageNum" value="true"/>
            <!--默认值false,设置成true,会使用rowBounds进行分页查询count值-->
            <property name="rowBoundsWithCount" value="true"/>
            <!--pageSize=0时，是否查询出全部结果，默认为false-->
            <property name="pageSizeZero" value="true"/>
            <!--分页合理化参数，默认值false; pageNum<=0，查询第一页; pageNum>=总页数，查询最后一页-->
            <property name="reasonable" value="true"/>
            <!--为了支持startPage(Object param),可以配置 pageNum当前页数,pageSize每页条数,count,pageSizeZero,
                如果不配置这些属性都会有默认值-->
            <property name="params" value="pageNum=pageNum;pageSize=pageSize;count=countSql;reasonable=reasonable;pageSizeZero=pageSizeZero"/>
            <!--支持通过Mapper接口来实现分页参数传递-->
            <property name="supportMethodsArguments" value="true"/>
            <!--检测分页结束,结果类型是否是PageInfo;  none返回page-->
            <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>


</configuration>